################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/pagSeguro/.vs
/pagSeguro/pagSeguro.Api/bin
/pagSeguro/pagSeguro.Api/obj
/pagSeguro/pagSeguro.Api/pagSeguro.Api.csproj.user
/pagSeguro/pagSeguro.Web/bin
/pagSeguro/pagSeguro.Web/obj
